.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.landing-page-title {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 2rem;
}

.landing-page-subtitle {
    font-size: clamp(1rem, 2vw, 2rem);
    margin-bottom: 2rem;
}

.landing-page-button {
    font-size: clamp(1rem, 2vw, 2rem);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.landing-page-button:hover {
    background-color: #000;
    color: #fff;
}

.landing-page-button:active {
    transform: scale(0.95);
}