.app {
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

footer {
    margin-top: 50px;
}

.notification {
    position: fixed;
    top: 5%;
    left: calc(50% - 11vw);
    width: 20vw;
    height: 8vh;
    background-color: rgba(240, 240, 240, 0.75);
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 1.5vw, 2rem);
    z-index: 9;
}

